/**********Gestion du body*********/
/**********************************/

body {
	width: auto;
	margin:0 auto;
	display:grid;
	grid-template-areas:
	"header header header"
	"nav content pub"
	"footer footer footer" ;
	grid-template-rows:300px minmax(600px,auto) 200px; 
	grid-template-columns:200px minmax(600px,auto) 400px;
}

	
/*****gestion du header************/
/**********************************/
header {
	position:relative;
	width:auto;
	border: 2px solid #200;
	background-image:url("../pictures/mer.jpg");
	background-attachment:scroll;
	background-repeat:x-repeat;
	background-position:50% 20%;
	margin-bottom:20px;
	grid-area:header;
}

header h1 {
	position:absolute;
	display:inline-block;
	top:40%;
	bottom:30%;
	left:25%;	
	min-height:40px;
	text-align: center;
	background:#F8FFFF;
	width:60%;
} 

/********disposition content*******/
/**********************************/

/*mise en forme liens*/
a: hover{
	color:#14B0C3;
}

a:active{ /* Quand le visiteur clique sur le lien */
    color: #F19F1E;
}

a:visited {
	color:#656D6C;
}

.site-content {
	overflow: auto;
	grid-area:content;
	border-color:black;
	margin-bottom:20px;	
}
.ancre{
	margin-left:20px;	
}
/*mise en page articles*/
.article{	
	margin:0 20px;
	border-bottom: 1px solid #333;
}



/****disposition navigation*****/
/**********************************/
nav {
	border-right: 2px solid #17B0CF;
	margin-top:20px;	
	margin-left:25px;
	margin-bottom:30px;
	padding-right:2px;
	grid-area:nav; 
	
}

nav ul{
	margin:0;
	padding: 0;
	list-style-type:circle;
}

nav a{ 
	text-decoration: none;
	font-weight: bold;
	color: #17B0CF;
}


/*****mise en page du footer*******/
/**********************************/
.site-footer {
	background-color: rgb(248,207,193,0.4);
	text-align: center;
	width:100%;
	grid-area:footer;
	display:flex;
	justify-content:space-around;
	
}
.site-footer p {
	margin:0 0 5px 0;
}

.item>img {
	width:200px;
	max-width:100%;
	height:auto;
	
}

.site-footer p {
	margin:0 0 5px 0;
	font-family:comic sans ms ;

}
details {
	font-family:comic sans ms;
}