/*Dans cette version on réalise le positionnement des deux colonnes 
principales avec table et table-cell.
*/


/**********Gestion du body*********/
/**********************************/

body {
	margin:10px auto;
	text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;   
	width:800px;	
	border:inset 3px #58BECA;
}

@font-face { /*definition d'une nouvelle police */
font-family:'Metro';
src: url('Metro/Metro.otf') format ('otf');
}

* {
font-family:"Georgia","Times New Roman";

}

h2 {
	font-size:1em;
}

p{
	line-height:1.35em;
}


/*******gestion du header**********/	
/**********************************/
header {
	overflow:auto;
	background-color:rgb(116,208,200,0.7);
	padding-left:10px;
	box-shadow: 1px 5px 5px #536C6F;
	margin-bottom:6px;
}

.DonneesUtiles{
	width:70%;
	border-bottom:2px dashed #536C6F;
	padding-top:30px;
	padding-bottom:30px;
}

.photomoi{
	float:right;
	margin-top:20px;
	margin-right:25px;
	width:200px;
	height:220px;
	
	background-image:url("../../pictures/moimini.jpg");
	background-repeat: no-repeat;
	background-position: 50% 10%;
	-moz-border-radius :50%;
	-webkit-border-radius : 50%;
	border-radius : 50%;
}

header h2 {
	color:#24D1DF;
	font-weight:bold; 
	font-size:1.2em; 
	background-color:rgb(256,255,255,0.5);
	padding:10px 0 5px 10px;
	width:70%;
	margin:20px 0px 20px 0px;
}

.adresse {
float:right;
clear:both;
padding-right:60px;
}
	
h1 {
	color: #FFFFFF;
}

#mail {
	color:#7C40A5;
	text-decoration:none;
}



/*******disposition du content******/ 
/**********************************/
.site-content {
	overflow:auto; /* le float reste dans le flux et s'aligne donc avec le  EDUCATION*/
	display:table;
	height:700px;
	z-index:1;
}

/*Education*/

p {
text-align:justify;
}

/*Langues*/
.LANGUAGES {
	margin-bottom:30px;
}

/*Work experience*/

.stage1 li , .stage2 li {
	font-size:small;
}

.WORKEXPERIENCE ul li {
	padding-bottom:10px;
	
}
/*Technical skills*/

.TechnicalSkills {
	font-size:100%;	
	margin-bottom:20px;
}

/*Personnal qualities*/

.PersonnalQualities h2 { /*titre*/
	margin-bottom:0;
}
.qualities{ /*bloc des colonnes*/
	display:flex;
	justify-content:center;
}

.qualities>ul{ /*colonnes*/
	padding-left:22px;
}


/*Disposition colonnes*/
.column1 {
	display:table-cell;
	width:60%;
	padding-left:20px;
	padding-right:15px;
	box-shadow: 2px 0px 5px #536C6F;
	
}
.column2 {
	display:table-cell;
	width:45%;
	padding-left:20px;
	background-color:rgb(248,245,244,0.4);
}


/*****mise en page du footer*******/
/**********************************/