
/**********Caractéristiques générales*********/
/**********************************/
/*
div {
	border:2px solid black;
}
*/

section,header{
	margin:0 30px;
}


/**********Gestion header********/
/**********************************/
header {
  background-color:rgb(236,168,49,0.8);
  padding:10px 0;
  margin-bottom:20px;
  position:fixed;
  width:100%;
  top:0;
}
header h1 {
	text-align:center;
	font-family:cursive;
}

/**********Gestion nav********/
/**********************************/
a:visited {
  color:black;
}


nav ul {
	width:50%;
	max-width:400px;
	margin:10px auto;
	display:flex;
	justify-content:space-between;
}

nav ul li {
	margin: 0 5px;
}

.sousmenu{
	display:none;
}


/**********Gestion sections*********/
/**********************************/

/*section Qui suis-je*/

.QuiJeSuis{
	display:flex;
	align-items:center;
	flex:1 1 auto;
	margin-top:150px;
	border:black 2px solid;
	height:225px;
}

.bloc1{
  overflow:auto;
  padding-right:20px;
}

.bloc1 p{
	padding-left:10px;
	/*padding-right:20px;*/
	min-height:50px;
	max-width:600px;
	text-align:justify;
	overflow:auto;
	word-wrap:break-word;
}

.image{
	margin-right:10px;	
}	
	
#photoMoi{
	width: 200px; 
	height: 200px; 
	max-width:100%;
	object-fit: cover; 
}


.bloc2 {
  padding-right:10px;
  margin-left:auto;

}


.bloc2 .Contact {
	padding-left:10px;
}

/*section Mes histoires*/

.MesHistoires {
	margin-top:30px;
	margin-bottom:50px;
}

.MesHistoires h1 {
	text-align:center;
  background-color:rgb(43,232,240,0.7);
  padding:10px 0;
}


.ListeArticle {
	height:700px;
	display:flex;
	flex-direction:raw;
	flex-wrap:wrap;
	overflow:auto;
	/*
	align-content:space-between;
	justify-content:space-between;
	
	*/
}

.article {
	flex: 1 0 30%;
	height:auto;
	min-height:200px;
	max-height:350px;
	display:flex;
	flex-direction:column;	
	align-items:center;
	overflow:hidden;
}
.article h4{
	text-align:center;
}

.article div>img {
	max-width:100%;
	width:200px;
	height:150px;
	vertical-align:middle;
}

.article p {
	padding:0 10px;
	text-align:justify;
}
	


/**********Gestion footer*********/
/**********************************/

footer p {
	text-align:center;
}


